streamlit>=1.31.0
openai>=1.12.0
altair==4.2.2
opik>=0.1.0
streamlit-mic-recorder>=0.0.4
scipy>=1.11.0
numpy>=1.24.0
pymongo[srv]==4.6.1
pyyaml>=6.0.1
streamlit-authenticator>=0.4.2
pandas>=2.0.0
dnspython>=1.16.0,<2.0.0